:root {
    --forest: #11484d;
    --greenM: #3A5E50;
    --greenL: #A3c392;
    --fuscia: #9F484E;
    --coral: #D2765f;
    --beige: #EFEBE0;
    --pink: #fadadd;
    --blue: #6591B8;
    --main-radius: 5px;
    --main-padding: 5px;
}
body{
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Adamina', serif;
  background: var(--beige);
  margin: 0;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:  
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        "main main main main main main main main main main main main"
        "subTitle subTitle subTitle subTitle subTitle subTitle subTitle subTitle subTitle subTitle subTitle subTitle"
        "content-left content-left content-left content-left content-left content-left content-right content-right content-right content-right content-right content-right"
        "mission mission mission mission mission mission mission mission mission mission mission mission"
        "flute flute flute flute flute flute flute flute flute flute flute flute"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 400px;
    height: auto;
    font-size: 12px;
    text-align: center;
    overflow: auto;
}

nav{
    background: var(--beige);
    grid-area: nav;
}

main{
    background: var(--greenL);
    grid-area: main;
    color: var(--beige);
    display: flex;
}

#subTitle{
    background: var(--fuscia);
    grid-area: subTitle;
    border-radius: var(--main-radius);
}

#content-left{
    background: var(--pink);
    grid-area: content-left;
}

#content-right{
    background: var(--coral);
    grid-area: content-right;
}

#mission{
    background: var(--beige);
    grid-area: mission;
    border-radius: var(--main-radius);
    border-style: solid;
    border-color: var(--greenM);
    padding: var(--main-padding);
}

#flute{
  background: var(--blue);
  grid-area: flute;
}

footer{
    background: var(--greenL);
    grid-area: footer;
}

@media only screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto auto auto; 
      grid-template-areas:
        "nav"
        "main"
        "subTitle"
        "content-left"
        "content-right"
        "mission"
        "mission"
        "flute"
        "footer";
      font-size: 8px;
    }
  }
.nav{
  border-bottom: 4px solid var(--forest);
}
.nav__toggle{
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}
.nav__toggle svg{
  width: 1.5rem;
  fill: var(--forest);
}
.nav__toggle .close{
  display: none;
}
.nav__toggle .menu{
  margin-top: 0.2rem;
}

.nav__checkbox{
  display: none;
}
.nav__menu{
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  row-gap: 2em;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1rem;
}
.nav__menu li{
  font-family: 'Oswald', sans-serif;
  list-style: none;
  display: none;
}
.nav__menu li:first-child{
  margin-right: auto;
  justify-content: flex-start;
  display: block;

}
.nav__menu a{
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
}
.nav__menu svg{
  width: 1.5rem;
}
/*toggle the hamburger menu in mobile*/
#nav__checkbox:checked ~ ul.nav__menu li{
  display: block;
  flex-direction: column;
  color: var(--forest);
  margin: 0;
}
/*change from menu to close icon on tap*/
#nav__checkbox:checked ~ label.nav__toggle .close{
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .menu{
  display: none;
}
/*desktop view*/
@media only screen and (min-width: 768px){
  .nav__toggle{
    display: none;
  }
  .nav__menu{
    flex-direction: row;
  }
  .nav__menu li{
    display: block;
    color: var(--forest);
  }
}
/*nav*/

/*main*/
main{
  height: 85vh;
}
main .square{
  position: relative;
  width: 95%;
  height: 90%;
  margin: auto;
  background-color: var(--greenM);
  align-items: center;
  border-radius: 90px 0px;
}

.square .intro{
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-left: 1em;
  margin-top: 1em;
  color: var(--beige);
  font-family: inherit;
  font-size: 4em;
}
.square{
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  align-items: center;
}
.square .name{
  position: relative;
  color: var(--beige);
  font-family: 'Luckiest Guy', cursive;
  font-size: 8em;
  margin: 0;
}
.square .iden{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.square .based{
  position: relative;
  color: var(--beige);
  font-family: inherit;
  font-size: 2em;
}
/*subTitle*/
.imA{
  font-size: 3em;
  color: var(--beige);
}
/*content-left*/
.musician{
  color: var(--fuscia);
}
.codeEnthu{
  color: var(--pink);
}
#musicianProfile{
  position: relative;
  border-radius: 15px;
  margin-bottom: 1em;
  margin-top: 2em;
  border-style: solid;
  border-color: var(--coral);
}
#codingProfile{
  position: relative;
  justify-self: center;
  border-radius: 15px;
  margin-bottom: 1em;
  margin-top: 7em;
  border-style: solid;
  border-color: var(--pink);
}
/*content-right*/
/*mission*/
.mission-content #missionTitle{
  font-size: 4em;
  color: var(--greenM);
}
.mission-content #missionState{
  font-size: 3em;
  color: var(--greenM);
}
/*flute*/
.flute{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:0.01fr auto auto auto;
  grid-template-areas:
  "in in"
  "solo solo"
  "gyo gyo"
  "news news";
  grid-gap: 0.01em;
  font-weight: 0;
  font-size: 8px;
  height: auto;
  text-align: center;
  padding: 10px;
  color: var(--beige);
}
.flute .musicIntro{
  grid-area: in;
  font-size: 2em;
  color: var(--beige);
}
.flute .solo{
  grid-area: solo;
}
.flute .solo #cham{
  margin-bottom: 2.5em;
}
.flute .gyo{
  grid-area: gyo;
}
.flute .flute-news{
  grid-area: news;
  font-size: 1em;
}
.flute .rep{
  font-size: 2em;
}
.flute .date{
  font-size: 2em;
}
.flute .pas{
  font-size: 2em;
}
/*flute grid flex layout*/
.flute .musicIntro{
  display: flex;
  flex-direction: row;
  font-weight: 2px;
}
.flute .solo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.solo h1{
  font-size: 2.5em;
  font-weight: 0.5px;
  color: var(--beige);
}
.flute .gyo{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.gyo h1{
  font-size: 2.5em;
  font-weight: 0.5px;
  color: var(--beige);
}
/*footer*/
.ti-brand-linkedin {
  position: relative;
  color: var(--greenM);
  font-size: 24px;
  text-decoration: none;
}
.ti-mailbox {
  position: relative;
  color: var(--greenM);
  font-size: 2em;
  text-decoration: none;
}
.ti {
  align-self: center;
  padding: 10px;
  font-size: 2em;
  width: 100vw;
  text-decoration: none;
  margin: 5px 20px;
}
.fa{
  position: relative;
  color: var(--greenM);
  font-size: 2em;
  text-decoration: none;
  align-self: center;
  margin: 5px 20px;
  padding: 10px;
}
.icon{
  margin-top: 2em;
  color: var(--greenM);
}
.discover{
  color: var(--greenM);
  font-size: 2em;
}
.contactInfo{
  margin-top: 2em;
  color: var(--greenM);
  font-size: 1.25em;
}


/*resume.html*/
.container-resume{
display: grid;
width: 100%;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto auto auto;
grid-template-areas:  
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "pr pr pr pr pr pr fl fl fl fl fl fl"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
grid-gap: 0.2rem;
font-weight: 400px;
font-size: 12px;
text-align: center;
overflow: auto;
}
nav{
  background: var(--beige);
  grid-area: nav;
}
#pr{
background: var(--fuscia);
grid-area: pr;
border-radius: var(--main-radius);
}
#fl{
  background: var(--pink);
  grid-area: fl;
  border-radius: var(--main-radius);
  }
footer{
background: var(--greenL);
grid-area: footer;
}
@media only screen and (max-width: 768px) {
.container-resume {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto; 
  grid-template-areas:
    "nav"
    "pr"
    "fl"
    "footer";
  font-size: 8px;
}
}
